{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "experimentalTernaries": true,
    "singleAttributePerLine": false,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css"
}
